body {
  font-family: 'Arial', sans-serif;
  background-color: #0d1117;
  margin: 0;
  padding: 0;
  user-select: none;
}

button {
  background-color: #21272C;
  border-color: #373B42;
  border-radius: 4px;
  border-width: 1px;
  color: #C9D1D9;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #161B22;
  color: #C9D1D9;
}

button:disabled {
  background-color: #cccccc;
}

button:active {
  box-shadow: none;
}

input[type='number'] {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 50px;
  text-align: center;
}

#current-session {
  margin: 10px 0;
}

#current-session #text {
  text-align: center;
  font-size: 12px;
  color: #C9D1D9;
}

#timer {
  font-size: 32px;
  text-align: center;
  margin: 10px 0 0 0;
  color: #C9D1D9
}

#custom-time-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

#session-controls {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#custom-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.time-unit-button {
  padding: 10px 20px;
  border: 1px solid #000;
  background-color: #21272C;
  color: #C9D1D9;
  margin-left: -1px;
  cursor: pointer;
}

.time-unit-button.active {
  background-color: #161B22;
  color: white;
  border: 1px solid #C9D1D9;
}

#custom-time-value {
  padding: 10px;
  margin: 5px;
  width: 80px;
}

.button-wrapper {
  text-align: center;
}

.hide, .hide button {
  display: none;
}